/* body defines background and bottom-level container*/
body {
	background-color: #a50c0e;

	margin: 0px;
	padding: 0px;
}

body h3 {
	text-align: center;
	margin-bottom: 0;
}

/* main and wrapper define the main content panel */
main {	
	width: 80%;
	font-family: 'Titillium Web', sans-serif;
    margin-left: auto;
	margin-right: auto;
	padding-top: 120px;
	box-shadow: 20px 10px 50px #450001, -20px 10px 50px #450001;
}

main p {
	padding: 15px;
	margin: 0px;
}

main h1 {
	text-align: center;
	font-size: large;
	margin: 5px;
	padding: 5px;
	border-bottom: thin solid #cccb88;
}

#wrapper {
	background-color: #fffebb;
	width: 100%;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	background-color: #fffebb;
}

/* header is a fixed region at the top of the page containing the logo and navigation */
header {
	background-image: url(../content/logo.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 210px;
	position: fixed;
	top: 0;
	background-color: #36402c;
 	color: #fffebb;
	font-family: 'Cinzel', serif;	
	height: 120px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

header h1 {	
	font-size: 38pt;
	font-weight: normal;
	color: #fffebb;
	padding: 5px;
	padding-top: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

header img {
  bottom: 0px;
  position: absolute;
  height: 70px;
  width: 150px;
}

#bannerimg {
	padding: 0;
	margin: 0;
	display: block;
	border-bottom: thin solid #cccb88;
	width: 100%;
}

/* footer is a region fixed to the bottom of main containing copyright info and a link to the site map. */
footer {
	font-size: small;
	font-family: 'Titillium Web', sans-serif;
	background-color: #fffebb;
	color: #a84d01;
	border-top: thin solid #cccb88;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	height: 50px;
	width: 80%;
}

footer a {
  float: right;
}

#footercontent {
	padding: 10px;
}

/* login elements define the style of forms on the login/register page. */
#login {
	width:auto;
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 10px;
	padding: 5px;
	border: thin solid #fffebb;
	border-radius: 5px;
}

#login a {
	color: #fffebb;
	text-decoration: none;
}

#login:hover {
	background-color: #fffebb;
	color: #36402c;
}

#login:hover a {
	color: #36402c;
}

#loginpanel {
	width: 50%;
	float: left;
}

#registerpanel {
	width: auto;
	margin-left: 50%;
	border-left: solid thin #cccb88;
}

.loginform {
	width: 75%;

	margin-left: auto;
	margin-right: auto;
}

.loginform label {
	padding-right: 10px;
}

.loginform td {
	padding: 10px 0px;
}

.logintitle {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: solid thin #a50c0e;
}

.loginsubmit {
	text-align: center;
	border-top: solid thin #a50c0e;
}

.loginsubmit input {
	color: white;
	background-color: #36402c;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* index selectors define style of elements in index.html */
#indexWhatIs {
	width: 50%;
	float: left;
	border-right: solid thin #cccb88;
}

#indexFacts {
	width: auto;
	margin-left: 50%;
}

#imgplaceholder {
	background-size: 100%;
	width: 100%;
	text-align: center;
	padding-top: 10px;

}

/* nav, .menu and .dropdown define style for the navigation bar */
nav {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

nav li {
	float: left;
}

nav ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li a, .button {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #fffebb;
	padding: 14px 45px;
}

nav li.dropdown {
	display: inline-block;
}

nav .menu {
	display: none;
	max-width: 140px;
	position: absolute;
	background-color: #a50c0e;
}

nav .menu a {
    display: block;
    text-decoration: none;
    text-align: left;
	color: #fffebb;
	padding: 12px 22px;
}

nav li a:active {
    background-color: black;
}

nav li a:hover, .dropdown:hover .button {
	background-color: #a50c0e;
}

nav .menu a:hover {
    background-color: #36402c;
}

nav .dropdown:hover .menu {
	display: block;
}
	
/* selectors for the aboutus page */
#comment h2 {
    font-size: 1.1em;
    font-weight: bold;
	text-align: left;
	padding-left: 3px;
}

/* comments table */

#comment textarea {
	margin: auto;
	width: 80%;
 }

#comment  {
	width: 50%;
	float: left;

	border-right: solid thin #cccb88;
}

#commentstable {
	width: 95%;
	padding: 5%;
}

#forum {
	width: auto;
	margin-left: 50%;
}

#forum ul {
	padding: 5%;
	padding-left: 10%;
}

#tablediv h1 {
    font-size: 1.3em;
    font-weight: bold;
}

#teamwrapper {
	margin: 0;
	border-bottom: solid thin #cccb88;
}

#team {
	width: 62%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#team input {
	float: right;
	margin-right: 280px;
	margin-bottom: 30px;
}

#comment h3 {
	border-bottom: solid thin #cccb88;	
	padding: 5px;
}

#forum h3 {
	border-bottom: solid thin #cccb88;		
	padding: 5px;
}

#forum h4 {
	border-bottom: solid thin #cccb88;		
	padding: 5px;
	display: block;
}

.team_row:nth-child(odd){
	background-color: #f2f2f2
}

.team_d {
	border: 1px solid black;
	height: 5px;
	padding: 10px;
	text-align: center;
}

.team_h {
	border: 1px solid black;
	height: 5px;
	padding: 10px;
}

caption {
	font-size: 1.5em
}

/* styles selectors define style for the styles.html page */
.sideList {
	width: 25%;
	float: left;
	border-right: solid thin #cccb88;
	background-color: #FF0000;
}

.sideList ul {
	margin: auto;
	width: 100%;
	padding-left: 0;
}


.sideList li {
	list-style-type: none;
	padding: 15px;
	background-color: #36402c;

	text-align: center;
	border-bottom: thin solid #fffebb;
}

/* this was added to style the links in the list */
.sideList a {
    color: #fffebb;
    text-decoration: none;
}

/* all the divs that are NOT BEING DISPAYED are HIDDEN using this class*/
.hidden{
    display: none;
}
.sideList a:last-child {
	border-bottom: none;
}

.sideList li:hover {
	background-color: #a50c0e;
	cursor: auto;
}

/*default style for the DIV that is BEING DISPLAYED*/
.styleDescriptions {
	margin-left: 25%;
	margin-top: 0;
	padding-top: 0;
}

/* about selectors define style for elements in abouthema.html */
.aboutContent {
	margin-left: 25%;
	margin-top: 0;
	padding-top: 0;
}

#hemainbcText {
	width: 60%;
	float: left;
	padding-right: 20px;
}

/* sitemap selectors define style for elements in sitemap.html */
#sitemap a {
	color: black;
	padding-left: 5px;	
}

#sitemap li {
	padding-top: 8px;
}

#sitemap .indentedlist {
	list-style-position: inside;
}

h4 {
	text-align: center;
	margin-top: 3px;
	margin-bottom: 4px;
}

/* the tooptip widget and the maps widget */
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

#maps-embed {
	display: block;
	width: 30%;
	height: 450px;
	margin: 20px auto 10px 65%;
	border: thin solid black;
	border: none;
}

/* the forum pages */

#forumdiv {
	padding: 10px;

	background-color: #fffebb;
}
