body
{
	background-color: #a50c0e;

	margin: 0px;
	padding: 0px;
}

h1
{
	background-color: #36402c;
	color: #fffebb;

	padding: 5px;
	padding-top: 15px;

	margin-top: 0px;
	margin-bottom: 0px;
	
	text-align: center;
}

nav
{
	background-color: #36402c;

	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	
	overflow: hidden;

	text-align: center;
}

li a
{
	padding: 14px 16px;
	margin-left: 0px;
	margin-right: 0px;
}

li a:hover
{
	background-color: #dddc99;
	color: #2e3323;
}

li a.active
{
	background-color: #fffebb;
	color: #2e3323;
}

a
{
	border-left: solid 1px #cccccc;

	text-decoration: none;
	font-weight: bold;

	color: #fffebb;
}

header
{
	position: fixed;
	top: 0;

	height: 100px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

main
{	
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

footer
{
	font-size: small;

	background-color: #fffebb;
	color: #a84d01;
	border-top: thin solid #cccb88;

	margin-left: auto;
	margin-right: auto;
	padding: 0px;

	height: 50px;
	width: 80%;
}

p
{
	padding: 10px;
	margin: 0px;
}

#wrapper
{
	background-color: #fffebb;
	box-shadow: 20px 10px 50px #450001, -20px 10px 50px #450001;

	width: 80%;

	margin-right: auto;
	margin-left: auto;
}

#navbar
{
	width: 100%;
	height: 100%;
}

#navbar li
{
	display: inline;
	float: right;
}

#imgplaceholder
{
	width: 100%;
	height: 300px;

	text-align: center;
	padding-top: 50px;

	border-bottom: solid thin #cccb88;
}

.left
{
	width: 50%;
	float: left;

	border-right: solid thin #cccb88;
}

.right
{
	width: auto;
	margin-left: 50%;
}
